.header {
  background-color: #02133e;
  margin: -2px 0px 0px !important;
  display: flex;
  padding: 40px 50px 10px 10%;
  justify-content: flex-start;
  min-height: 78vh;
  overflow: hidden !important;
  flex-direction: column;
}
.heading {
  margin: -2px 0px 0px !important;
  font-size: 48px;
  color: #efefef;
  font-family: "Rubik";
  font-weight: 600;
  text-align: left;
}

.para {
  color: #efefef;
  font-size: 20px;
  text-align: left;
}
.firstPart {
  width: 100%;
  margin-top: 10px;
}
.secondPart {
  min-width: 76% !important;
  max-width: 76% !important;
}

.liveOn {
  text-align: left;
  display: flex;
  align-items: center;
  color: #efefef;
  font-family: "Rubik";
  margin-bottom: 15px;
}

.liveOn svg {
  color: #efefef;
  font-size: 14px;
  margin-right: 8px;
}

.btn {
  width: 80%;
  background-color: #02133e;
  margin: 10px 0px 10px;
  border-radius: 12px;
  font-size: 14px;
  color: #efefef;
  font-family: "Rubik";
  text-align: center;
  padding: 14px;
  cursor: pointer;
  border: transparent;
  background-image: linear-gradient(
    to right,
    #0213b1 0%,
    #26a0da 51%,
    #26a0da 100%
  );
}

.expertBtn {
  margin-left: 15px;
  background-image: none;
  background: #fff !important;
  color: #02133e;
  font-weight: 500;
}
.paraTagLine {
  color: #efefef;
  font-size: 12px;
  text-align: left;
}

.officeIntro {
  margin-top: 38px;
}

.companyLogos {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
  text-align: left;
}

.containerWrapper {
  display: flex;
}

.secondPart {
  margin-left: 45px;
  position: relative;
}
.containerWrapper::before {
  content: "";
  position: absolute;
  left: 0px;
  width: 100%;
  z-index: 2;
  height: 6px;
}

.secondPart::after {
  margin-bottom: -40px;
  background-image: linear-gradient(
    90deg,
    #001322 28%,
    rgba(1, 51, 89, 0.9) 45.62%,
    hsla(0, 0%, 100%, 0)
  );
}
.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  width: 35%;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px 0px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 3;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.7s ease-in 0.4s;
}

.ImgSection {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.eachImg {
  width: 100%;
  height: 90%;
  margin: 15px;
  border-radius: 16px;
}
.secondPart {
  display: none;
}

.whatsAppIcon {
  position: fixed;
  bottom: 45px;
  right: 45px;
}
.whatsAppIcon svg {
  color: #fff;
  font-size: 40px;
  cursor: pointer;
}
@media screen and (min-width: 500px) {
  .eachImg {
    width: 45%;
    height: 80%;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .btn {
    width: 45%;
  }
  .eachImg {
    width: 45%;
    height: 80%;
    margin: 15px;
  }
}
@media screen and (min-width: 1076px) {
  .header {
    flex-direction: row;
  }

  .firstPart {
    width: 24%;
    margin-top: 10px;
  }

  .btn {
    width: 100%;
  }
  .expertBtn {
    margin-left: 0px;
  }
  .secondPart {
    display: block;
  }
  .ImgSection {
    display: none;
  }
}
